{"swagger":"2.0","info":{"title":"The virtual wine cellar","description":"A basic example of a CRUD API implemented with goa","contact":{"name":"goa team","email":"admin@goa.design","url":"http://goa.design"},"license":{"name":"MIT","url":"https://github.com/goadesign/goa/blob/master/LICENSE"},"version":""},"host":"cellar.goa.design","basePath":"/cellar","schemes":["http"],"consumes":["application/json","application/xml","application/gob","application/x-gob"],"produces":["application/json","application/xml","application/gob","application/x-gob"],"paths":{"/accounts":{"post":{"description":"Create new account","operationId":"account#create","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateAccountPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"/accounts/[0-9]+"}}}},"schemes":["http"]}},"/accounts/{accountID}":{"get":{"description":"Retrieve account with given id","operationId":"account#show","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"}],"responses":{"200":{"$ref":"#/responses/OK"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"put":{"description":"Change account name","operationId":"account#update","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateAccountPayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"delete":{"operationId":"account#delete","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}},"/accounts/{accountID}/bottles":{"get":{"description":"List all bottles in account optionally filtering by year","operationId":"bottle#list","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"years","in":"query","description":"Filter by years","required":false,"type":"array","items":{"type":"array","items":{"type":"integer"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BottleCollection"}},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"post":{"description":"Record new bottle","operationId":"bottle#create","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateBottlePayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/accounts/[0-9]+/bottles/[0-9]+$"}}}},"schemes":["http"]}},"/accounts/{accountID}/bottles/{bottleID}":{"get":{"description":"Retrieve bottle with given id","operationId":"bottle#show","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"$ref":"#/responses/OK"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"delete":{"operationId":"bottle#delete","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"patch":{"operationId":"bottle#update","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateBottlePayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}},"/accounts/{accountID}/bottles/{bottleID}/actions/rate":{"put":{"operationId":"bottle#rate","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/RateBottlePayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}}},"definitions":{"Account":{"title":"Mediatype identifier: application/vnd.account+json","type":"object","properties":{"created_at":{"type":"string","description":"Date of creation","example":"1994-08-12T04:50:14-07:00","format":"date-time"},"created_by":{"type":"string","description":"Email of account owner","example":"ola@davisklocko.info","format":"email"},"href":{"type":"string","description":"API href of account","example":"Corrupti corrupti qui."},"id":{"type":"integer","description":"ID of account","example":6346709705387786626},"name":{"type":"string","description":"Name of account","example":"Laboriosam accusamus."}},"description":"A tenant account","example":{"created_at":"Et aut reiciendis ea.","created_by":"Magni tempora.","href":"Distinctio delectus vel earum doloribus.","id":6579681337256421773,"name":"Recusandae molestiae nemo omnis quae suscipit."},"required":["id","href","name"]},"Bottle":{"title":"Mediatype identifier: application/vnd.bottle+json","type":"object","properties":{"account":{"description":"Account that owns bottle","example":{"created_at":"Quis sapiente et sunt dolorem culpa.","created_by":"Est modi necessitatibus sequi blanditiis dolore laudantium.","href":"Perspiciatis iure tenetur sapiente et ut repellat.","id":7278845951016604253,"name":"Voluptas veritatis doloribus dignissimos sunt ut."},"$ref":"#/definitions/Account"},"color":{"type":"string","example":"sparkling","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","example":"78ag","minLength":2},"created_at":{"type":"string","description":"Date of creation","example":"2000-01-08T19:41:50-08:00","format":"date-time"},"href":{"type":"string","description":"API href of bottle","example":"Ducimus animi eos a provident quia."},"id":{"type":"integer","description":"ID of bottle","example":7860125090235551826},"name":{"type":"string","example":"xw","minLength":2},"rating":{"type":"integer","description":"Rating of bottle between 1 and 5","example":1,"minimum":1,"maximum":5},"region":{"type":"string","example":"Aut non necessitatibus ab repellendus quidem modi."},"review":{"type":"string","example":"8cda3x","minLength":3,"maxLength":300},"sweetness":{"type":"integer","example":2,"minimum":1,"maximum":5},"updated_at":{"type":"string","description":"Date of last update","example":"1994-05-02T13:45:15-07:00","format":"date-time"},"varietal":{"type":"string","example":"bhhn","minLength":4},"vineyard":{"type":"string","example":"xch","minLength":2},"vintage":{"type":"integer","example":1944,"minimum":1900,"maximum":2020}},"description":"A bottle of wine","example":{"account":{"created_at":"Ut libero tempore.","created_by":"Corporis quam delectus quas exercitationem alias est.","href":"Non exercitationem.","id":4444974533895630932,"name":"In quam eos distinctio consequuntur ut."},"color":"Possimus voluptas aliquam itaque.","country":"Beatae veniam quaerat sint.","created_at":"Error sit qui ut delectus nihil sunt.","href":"Architecto magni eos tempora sapiente.","id":5453320523006636529,"name":"Beatae eveniet et tempora nobis enim.","rating":3519728942384542543,"region":"Libero qui blanditiis.","review":"Neque iste dolorem officiis aut.","sweetness":38264006681842410,"updated_at":"Neque voluptatem.","varietal":"Cupiditate eveniet.","vineyard":"Qui velit eos et inventore odit aperiam.","vintage":6412332039291872175},"required":["id","href","name","vineyard","varietal","vintage","color"]},"BottleCollection":{"title":"Mediatype identifier: application/vnd.bottle+json; type=collection","type":"array","items":{"example":{"account":{"created_at":"Aut vel molestiae culpa.","created_by":"Omnis nobis.","href":"Accusamus qui totam minus nihil iure et.","id":442289692104523001,"name":"Ut occaecati quas doloremque et."},"color":"Fugit eos ducimus ad.","country":"Iusto perspiciatis nobis assumenda voluptas voluptas.","created_at":"Et aperiam quam qui aliquid sit et.","href":"In est.","id":337613569947633606,"name":"Perferendis et qui odio dolore atque.","rating":5163087659166226606,"region":"Praesentium repudiandae quia omnis temporibus ut.","review":"Impedit est.","sweetness":100869379722795148,"updated_at":"Saepe vero facere harum dolores adipisci.","varietal":"Et esse quia ratione.","vineyard":"Quae deleniti fugit.","vintage":1457937918690157081},"$ref":"#/definitions/Bottle"},"example":[{"account":{"created_at":"Consequuntur sed ut officiis voluptatem.","created_by":"Magni natus optio praesentium cum quaerat.","href":"Voluptatem et.","id":2125510776996901114,"name":"Facere consequatur ut explicabo libero qui."},"color":"Sunt deleniti et.","country":"Nisi soluta ex.","created_at":"Accusamus ut rerum dicta quo.","href":"Optio aspernatur modi.","id":4509047611644244706,"name":"Eaque et et iusto consequatur recusandae.","rating":7559196074394058070,"region":"Libero quis non soluta.","review":"Tempora nobis quia.","sweetness":3997030484496308368,"updated_at":"Quo fugit.","varietal":"Iusto ad.","vineyard":"Consequuntur dolorum.","vintage":4271026532999860864},{"account":{"created_at":"Ipsum eius voluptatem est modi laudantium.","created_by":"Et et odit modi sed et.","href":"Quod aliquam aperiam amet eum.","id":8495477153739439476,"name":"Consectetur facere quaerat dicta corporis dolores."},"color":"Enim eaque repellat quidem laudantium eaque dignissimos.","country":"Ea sit aut.","created_at":"Pariatur aut qui quia deleniti aut consequatur.","href":"Doloremque dolorem dignissimos consequatur ad officia.","id":1454571056425404089,"name":"Voluptates sequi nam.","rating":4928256864442564150,"region":"Nulla mollitia sed itaque iste quibusdam.","review":"Officia quaerat.","sweetness":6689424075049166663,"updated_at":"Nihil doloremque magnam qui aut sed.","varietal":"Sunt earum hic aperiam.","vineyard":"Dolorum et non.","vintage":1472348230846458568},{"account":{"created_at":"Pariatur nesciunt autem adipisci ut laboriosam.","created_by":"Soluta sapiente ducimus et culpa et.","href":"Eum quis dolor mollitia est.","id":8445518948768651039,"name":"Dignissimos est non."},"color":"Ipsam tempora hic qui.","country":"Nobis dolores voluptate odit voluptas.","created_at":"Sit necessitatibus velit numquam dolor esse.","href":"Nisi temporibus architecto voluptas.","id":2805955816024112802,"name":"Perferendis est saepe.","rating":3467924910867428029,"region":"Molestiae voluptatibus.","review":"Provident quibusdam aperiam.","sweetness":1260924317834423379,"updated_at":"Id sed recusandae soluta ut accusamus error.","varietal":"Aliquam mollitia quam inventore et.","vineyard":"Unde similique qui aliquam dicta quo voluptas.","vintage":2521875187171998511}]},"CreateAccountPayload":{"title":"CreateAccountPayload","type":"object","properties":{"name":{"type":"string","description":"Name of account"}},"required":["name"]},"CreateBottlePayload":{"title":"CreateBottlePayload","type":"object","properties":{"color":{"type":"string","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","minLength":2},"name":{"type":"string","minLength":2},"region":{"type":"string"},"review":{"type":"string","minLength":3,"maxLength":300},"sweetness":{"type":"integer","minimum":1,"maximum":5},"varietal":{"type":"string","minLength":4},"vineyard":{"type":"string","minLength":2},"vintage":{"type":"integer","minimum":1900,"maximum":2020}},"required":["name","vineyard","varietal","vintage","color"]},"RateBottlePayload":{"title":"RateBottlePayload","type":"object","properties":{"rating":{"type":"integer","description":"Rating of bottle between 1 and 5","minimum":1,"maximum":5}},"required":["rating"]},"UpdateAccountPayload":{"title":"UpdateAccountPayload","type":"object","properties":{"name":{"type":"string","description":"Name of account"}},"required":["name"]},"UpdateBottlePayload":{"title":"UpdateBottlePayload","type":"object","properties":{"color":{"type":"string","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","minLength":2},"name":{"type":"string","minLength":2},"region":{"type":"string"},"review":{"type":"string","minLength":3,"maxLength":300},"sweetness":{"type":"integer","minimum":1,"maximum":5},"varietal":{"type":"string","minLength":4},"vineyard":{"type":"string","minLength":2},"vintage":{"type":"integer","minimum":1900,"maximum":2020}}}},"responses":{"NoContent":{"description":"No Content"},"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}},"externalDocs":{"description":"goa guide","url":"http://goa.design/getting-started.html"}}