{"swagger":"2.0","info":{"title":"The virtual wine cellar","description":"A basic example of a CRUD API implemented with goa","contact":{"name":"goa team","email":"admin@goa.design","url":"http://goa.design"},"license":{"name":"MIT","url":"https://github.com/goadesign/goa/blob/master/LICENSE"},"version":""},"host":"cellar.goa.design","basePath":"/cellar","schemes":["http"],"consumes":["application/json","application/xml","text/xml","application/gob","application/x-gob"],"produces":["application/json","application/xml","text/xml","application/gob","application/x-gob"],"paths":{"/accounts":{"post":{"description":"Create new account","operationId":"account#create","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateAccountPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"/accounts/[0-9]+"}}}},"schemes":["http"]}},"/accounts/{accountID}":{"get":{"description":"Retrieve account with given id","operationId":"account#show","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"}],"responses":{"200":{"$ref":"#/responses/OK"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"put":{"description":"Change account name","operationId":"account#update","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateAccountPayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"delete":{"operationId":"account#delete","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}},"/accounts/{accountID}/bottles":{"get":{"description":"List all bottles in account optionally filtering by year","operationId":"generic_bottle#list","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"years","in":"query","description":"Filter by years","required":false,"type":"array","items":{"type":"array","items":{"type":"integer"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericBottleCollection"}},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"post":{"description":"Record new bottle","operationId":"generic_bottle#create","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateGenericBottlePayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/accounts/[0-9]+/bottles/[0-9]+$"}}}},"schemes":["http"]}},"/accounts/{accountID}/bottles/{bottleID}":{"get":{"description":"Retrieve bottle with given id","operationId":"generic_bottle#show","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"$ref":"#/responses/OK"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"delete":{"operationId":"generic_bottle#delete","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"patch":{"operationId":"generic_bottle#update","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateGenericBottlePayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}},"/accounts/{accountID}/bottles/{bottleID}/actions/rate":{"put":{"operationId":"generic_bottle#rate","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/RateGenericBottlePayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}}},"definitions":{"Account":{"title":"Mediatype identifier: application/vnd.account+json","type":"object","properties":{"created_at":{"type":"string","description":"Date of creation","example":"1994-08-12T04:50:14-07:00","format":"date-time"},"created_by":{"type":"string","description":"Email of account owner","example":"ola@davisklocko.info","format":"email"},"href":{"type":"string","description":"API href of account","example":"Corrupti corrupti qui."},"id":{"type":"integer","description":"ID of account","example":6346709705387786626},"name":{"type":"string","description":"Name of account","example":"Laboriosam accusamus."}},"description":"A tenant account","example":{"created_at":"Et aut reiciendis ea.","created_by":"Magni tempora.","href":"Distinctio delectus vel earum doloribus.","id":6579681337256421773,"name":"Recusandae molestiae nemo omnis quae suscipit."},"required":["id","href","name"]},"Bottle":{"title":"Mediatype identifier: application/vnd.bottle+json","type":"object","properties":{"account":{"description":"Account that owns bottle","example":{"created_at":"Quis sapiente et sunt dolorem culpa.","created_by":"Est modi necessitatibus sequi blanditiis dolore laudantium.","href":"Perspiciatis iure tenetur sapiente et ut repellat.","id":7278845951016604253,"name":"Voluptas veritatis doloribus dignissimos sunt ut."},"$ref":"#/definitions/Account"},"color":{"type":"string","example":"sparkling","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","example":"78ag","minLength":2},"created_at":{"type":"string","description":"Date of creation","example":"2000-01-08T19:41:50-08:00","format":"date-time"},"href":{"type":"string","description":"API href of bottle","example":"Ducimus animi eos a provident quia."},"id":{"type":"integer","description":"ID of bottle","example":7860125090235551826},"name":{"type":"string","example":"xw","minLength":2},"rating":{"type":"integer","description":"Rating of bottle between 1 and 5","example":1,"minimum":1,"maximum":5},"region":{"type":"string","example":"Aut non necessitatibus ab repellendus quidem modi."},"review":{"type":"string","example":"8cda3x5e6wmnlwm0stl1fro07jx4p9fte1q76uzibxa4rbhhn1xchwg3d16b37huno8qhk3newqq4uexf5tieh2w4qbh2bqgk87v7xeyiil017edcftwug8cim5whc93xttormq39elaswhqopvahj6oh0sj8jgqh8o0bok7m5q5vnkj3xdb4e64youotqmu8nhm4hvj0g6cpzfr0kvdc37tij1qxuatpt12e52usfq0m7j91kmzmt4bkxsfespjz82uza2ovsraddq31pjp0g8b47lkhsi6m3sjh7lrmlujbg","minLength":3,"maxLength":300},"sweetness":{"type":"integer","example":3,"minimum":1,"maximum":5},"updated_at":{"type":"string","description":"Date of last update","example":"1986-12-30T16:21:53-08:00","format":"date-time"},"varietal":{"type":"string","example":"g3wtvd","minLength":4},"vineyard":{"type":"string","example":"hm","minLength":2},"vintage":{"type":"integer","example":1992,"minimum":1900,"maximum":2020}},"description":"A bottle of wine","example":{"account":{"created_at":"Mollitia sed itaque iste quibusdam.","created_by":"Officia quaerat.","href":"Fugit nihil doloremque magnam qui aut sed.","id":2819627289876796637,"name":"Earum hic aperiam quaerat dolorum et."},"color":"Aspernatur a pariatur nesciunt autem adipisci ut.","country":"Porro soluta sapiente ducimus et.","created_at":"Et fugiat.","href":"Quis dolor mollitia est.","id":8445518948768651039,"name":"Dignissimos est non.","rating":1579594018349264023,"region":"Tempora hic.","review":"Iusto nobis dolores voluptate.","sweetness":4471077228415925430,"updated_at":"Facilis sit necessitatibus.","varietal":"Numquam dolor esse ullam nisi.","vineyard":"Architecto voluptas aut harum perferendis est.","vintage":7431575398153814370},"required":["id","href","name","vineyard","varietal","vintage","color"]},"BottleCollection":{"title":"Mediatype identifier: application/vnd.bottle+json; type=collection","type":"array","items":{"example":{"account":{"created_at":"Accusantium molestiae voluptatibus.","created_by":"Provident quibusdam aperiam.","href":"Qui id sed recusandae.","id":261025970744175424,"name":"Accusamus error accusamus aliquam mollitia quam."},"color":"Et quisquam unde similique.","country":"Aliquam dicta quo voluptas quod sit.","created_at":"Voluptatem accusantium.","href":"Unde distinctio sed voluptatem consequuntur qui.","id":398603898626173432,"name":"Quis et hic fuga neque.","rating":1353939219992373491,"region":"Velit laborum facilis repudiandae.","review":"Modi distinctio fugiat magni sed.","sweetness":5891823625758525073,"updated_at":"Impedit reiciendis.","varietal":"Consectetur quas consequatur.","vineyard":"Atque adipisci quibusdam et.","vintage":1678899513459856023},"$ref":"#/definitions/Bottle"},"example":[{"account":{"created_at":"Saepe vel quas laboriosam et modi.","created_by":"Ducimus non expedita.","href":"Et dolores.","id":4402772185725025333,"name":"Accusamus praesentium tenetur."},"color":"Aliquid magnam quae.","country":"Dolorem tenetur.","created_at":"Aut deserunt veritatis non quae atque animi.","href":"A provident rem.","id":8902483809007035399,"name":"Distinctio sit possimus.","rating":217630490809963815,"region":"Quia nisi.","review":"Rerum expedita.","sweetness":9173340759558804653,"updated_at":"Architecto occaecati veritatis praesentium quaerat perspiciatis maiores.","varietal":"Dignissimos sapiente repudiandae omnis.","vineyard":"Facilis non sed quia aut.","vintage":4640441047995116277}]},"CreateAccountPayload":{"title":"CreateAccountPayload","type":"object","properties":{"name":{"type":"string","description":"Name of account"}},"required":["name"]},"CreateBottlePayload":{"title":"CreateBottlePayload","type":"object","properties":{"color":{"type":"string","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","minLength":2},"name":{"type":"string","minLength":2},"region":{"type":"string"},"review":{"type":"string","minLength":3,"maxLength":300},"sweetness":{"type":"integer","minimum":1,"maximum":5},"varietal":{"type":"string","minLength":4},"vineyard":{"type":"string","minLength":2},"vintage":{"type":"integer","minimum":1900,"maximum":2020}},"required":["name","vineyard","varietal","vintage","color"]},"CreateGenericBottlePayload":{"title":"CreateGenericBottlePayload","type":"object","properties":{"color":{"type":"string","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","minLength":2},"kind":{"type":"string","description":"Bottle kind","enum":["wine","rum"]},"name":{"type":"string","minLength":2},"region":{"type":"string"},"review":{"type":"string","minLength":3,"maxLength":300},"sweetness":{"type":"integer","minimum":1,"maximum":5},"varietal":{"type":"string","minLength":4},"vineyard":{"type":"string","minLength":2},"vintage":{"type":"integer","minimum":1900,"maximum":2020}},"required":["name","kind","vineyard","varietal","vintage","color"]},"GenericBottle":{"title":"Mediatype identifier: application/vnd.generic.bottle+json","type":"object","properties":{"account":{"description":"Account that owns bottle","example":{"created_at":"Sit doloribus esse quod.","created_by":"Eos est minus consequatur.","href":"Velit reiciendis nostrum aliquam magnam ipsa.","id":1479267855670589149,"name":"Aspernatur pariatur tempore minus voluptatem expedita nemo."},"$ref":"#/definitions/Account"},"color":{"type":"string","example":"yellow","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","example":"y1wz","minLength":2},"created_at":{"type":"string","description":"Date of creation","example":"1982-12-05T04:35:02-08:00","format":"date-time"},"href":{"type":"string","description":"API href of bottle","example":"Maxime doloremque qui mollitia architecto iure."},"id":{"type":"integer","description":"ID of bottle","example":1356514586012790350},"kind":{"type":"string","description":"The kind of bottle","example":"rum","enum":["wine","rum"]},"name":{"type":"string","example":"53","minLength":2},"rating":{"type":"integer","description":"Rating of bottle between 1 and 5","example":4,"minimum":1,"maximum":5},"region":{"type":"string","example":"Saepe expedita nemo."},"review":{"type":"string","example":"5nyng23t99ff6ovwuslouobsh5caqh59dydp9t3m4z87a12gn455nvuzyhxe3mey1e2hiwpi9xm6bquziiwc5wfsfqg461dz1955zzgizipomo5oqymdai2e26kulyzxpzp1k69xrwz47exnkxlrn8rqk62zylj45784793336m98l99qp8c1eu8l4r5s77c1ddaoe9ctq50439pz46eu38mj89idvgkh68xhcdhdonmbbe3d8tkegcxuu4t0m6eflwb4gk5dbuyv8ent6botrtzna7hhxcus9hinxweewjs9z","minLength":3,"maxLength":300},"sweetness":{"type":"integer","example":4,"minimum":1,"maximum":5},"updated_at":{"type":"string","description":"Date of last update","example":"2003-08-11T21:34:12-07:00","format":"date-time"},"varietal":{"type":"string","example":"oiho","minLength":4},"vineyard":{"type":"string","example":"uh","minLength":2},"vintage":{"type":"integer","example":1936,"minimum":1900,"maximum":2020}},"description":"A bottle of rum or wine","example":{"account":{"created_at":"Assumenda ullam qui necessitatibus laborum in qui.","created_by":"Sint et dignissimos facere voluptas voluptatem officia.","href":"Aut aut possimus alias vitae totam perferendis.","id":5211703601376149083,"name":"Placeat quod assumenda inventore excepturi voluptatibus."},"color":"Est fugit velit molestiae quam sunt voluptas.","country":"Odit facilis fugiat accusamus ut inventore quod.","created_at":"Et sunt necessitatibus enim laboriosam officia.","href":"Quo eum optio voluptates excepturi consectetur.","id":4155121486306252768,"kind":"At sint odit voluptas reprehenderit nemo.","name":"Repellat dicta dicta aliquid.","rating":7805235124788959437,"region":"Mollitia nostrum repellat vel id libero omnis.","review":"Officia doloribus aut.","sweetness":1284991013547759429,"updated_at":"Fugit et iure ducimus porro qui.","varietal":"Aut illum.","vineyard":"Non similique consequuntur deserunt aut.","vintage":9094048818713313167},"required":["id","href","kind","name","vineyard","varietal","vintage","color"]},"GenericBottleCollection":{"title":"Mediatype identifier: application/vnd.generic.bottle+json; type=collection","type":"array","items":{"example":{"account":{"created_at":"Maiores quasi voluptatem aspernatur est.","created_by":"Sequi recusandae dolores occaecati.","href":"Eos corrupti magni assumenda in.","id":8794821744637400498,"name":"Aperiam vel rem vel quidem consequatur est."},"color":"Doloremque est illo consequatur.","country":"Ea id et omnis.","created_at":"Commodi amet.","href":"Et velit tenetur tenetur in autem.","id":7592778279243492351,"kind":"Et numquam atque repellendus exercitationem.","name":"Asperiores est possimus quod minima ut consectetur.","rating":1444936329317619385,"region":"Et et non unde.","review":"Repellendus fugiat fugit.","sweetness":4909072126914328983,"updated_at":"Reiciendis ullam ut magnam.","varietal":"Est excepturi nostrum harum quia mollitia.","vineyard":"Quisquam perferendis dicta deserunt.","vintage":1997454957318678631},"$ref":"#/definitions/GenericBottle"},"example":[{"account":{"created_at":"Natus assumenda occaecati dolorem.","created_by":"Accusantium ut et nihil.","href":"Suscipit quia incidunt quo.","id":5135372297962303020,"name":"Quas blanditiis ipsam aspernatur perferendis necessitatibus velit."},"color":"Nihil facere commodi aut saepe.","country":"Eos quaerat assumenda corrupti.","created_at":"Cumque nobis recusandae.","href":"Atque voluptates voluptatem doloribus est laborum.","id":2366021015824722493,"kind":"Doloremque pariatur quas magnam id.","name":"Voluptatem architecto sit assumenda.","rating":2392764654297016052,"region":"Quia dolores rerum voluptate.","review":"Est rerum.","sweetness":3252912080243284922,"updated_at":"Dolor consequuntur et ut asperiores aut.","varietal":"Ea at tempora.","vineyard":"Doloribus hic.","vintage":7783481642035009730}]},"RateBottlePayload":{"title":"RateBottlePayload","type":"object","properties":{"rating":{"type":"integer","description":"Rating of bottle between 1 and 5","minimum":1,"maximum":5}},"required":["rating"]},"RateGenericBottlePayload":{"title":"RateGenericBottlePayload","type":"object","properties":{"rating":{"type":"integer","description":"Rating of bottle between 1 and 5","minimum":1,"maximum":5}},"required":["rating"]},"UpdateAccountPayload":{"title":"UpdateAccountPayload","type":"object","properties":{"name":{"type":"string","description":"Name of account"}},"required":["name"]},"UpdateBottlePayload":{"title":"UpdateBottlePayload","type":"object","properties":{"color":{"type":"string","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","minLength":2},"name":{"type":"string","minLength":2},"region":{"type":"string"},"review":{"type":"string","minLength":3,"maxLength":300},"sweetness":{"type":"integer","minimum":1,"maximum":5},"varietal":{"type":"string","minLength":4},"vineyard":{"type":"string","minLength":2},"vintage":{"type":"integer","minimum":1900,"maximum":2020}}},"UpdateGenericBottlePayload":{"title":"UpdateGenericBottlePayload","type":"object","properties":{"color":{"type":"string","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","minLength":2},"kind":{"type":"string","description":"Bottle kind","enum":["wine","rum"]},"name":{"type":"string","minLength":2},"region":{"type":"string"},"review":{"type":"string","minLength":3,"maxLength":300},"sweetness":{"type":"integer","minimum":1,"maximum":5},"varietal":{"type":"string","minLength":4},"vineyard":{"type":"string","minLength":2},"vintage":{"type":"integer","minimum":1900,"maximum":2020}}}},"responses":{"NoContent":{"description":"No Content"},"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}},"externalDocs":{"description":"goa guide","url":"http://goa.design/getting-started.html"}}