{"swagger":"2.0","info":{"title":"The virtual wine cellar","description":"A basic example of a CRUD API implemented with goa","contact":{"name":"goa team","email":"admin@goa.design","url":"http://goa.design"},"license":{"name":"MIT","url":"https://github.com/goadesign/goa/blob/master/LICENSE"},"version":""},"host":"cellar.goa.design","basePath":"/cellar","schemes":["http"],"consumes":["application/json","application/xml","text/xml","application/gob","application/x-gob"],"produces":["application/json","application/xml","text/xml","application/gob","application/x-gob"],"paths":{"/accounts":{"post":{"description":"Create new account","operationId":"account#create","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateAccountPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"/accounts/[0-9]+"}}}},"schemes":["http"]}},"/accounts/{accountID}":{"get":{"description":"Retrieve account with given id","operationId":"account#show","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"}],"responses":{"200":{"$ref":"#/responses/OK"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"put":{"description":"Change account name","operationId":"account#update","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateAccountPayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"delete":{"operationId":"account#delete","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}},"/accounts/{accountID}/bottles":{"get":{"description":"List all bottles in account optionally filtering by year","operationId":"bottle#list","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"years","in":"query","description":"Filter by years","required":false,"type":"array","items":{"type":"array","items":{"type":"integer"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BottleCollection"}},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"post":{"description":"Record new bottle","operationId":"bottle#create","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateBottlePayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/accounts/[0-9]+/bottles/[0-9]+$"}}}},"schemes":["http"]}},"/accounts/{accountID}/bottles/{bottleID}":{"get":{"description":"Retrieve bottle with given id","operationId":"bottle#show","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"$ref":"#/responses/OK"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"delete":{"operationId":"bottle#delete","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"patch":{"operationId":"bottle#update","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateBottlePayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}},"/accounts/{accountID}/bottles/{bottleID}/actions/rate":{"put":{"operationId":"bottle#rate","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/RateBottlePayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}}},"definitions":{"Account":{"title":"Mediatype identifier: application/vnd.account+json","type":"object","properties":{"created_at":{"type":"string","description":"Date of creation","example":"1994-08-12T04:50:14-07:00","format":"date-time"},"created_by":{"type":"string","description":"Email of account owner","example":"ola@davisklocko.info","format":"email"},"href":{"type":"string","description":"API href of account","example":"Corrupti corrupti qui."},"id":{"type":"integer","description":"ID of account","example":6346709705387786626},"name":{"type":"string","description":"Name of account","example":"Laboriosam accusamus."}},"description":"A tenant account","example":{"created_at":"Et aut reiciendis ea.","created_by":"Magni tempora.","href":"Distinctio delectus vel earum doloribus.","id":6579681337256421773,"name":"Recusandae molestiae nemo omnis quae suscipit."},"required":["id","href","name"]},"Bottle":{"title":"Mediatype identifier: application/vnd.bottle+json","type":"object","properties":{"account":{"description":"Account that owns bottle","example":{"created_at":"Quis sapiente et sunt dolorem culpa.","created_by":"Est modi necessitatibus sequi blanditiis dolore laudantium.","href":"Perspiciatis iure tenetur sapiente et ut repellat.","id":7278845951016604253,"name":"Voluptas veritatis doloribus dignissimos sunt ut."},"$ref":"#/definitions/Account"},"color":{"type":"string","example":"sparkling","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","example":"n7","minLength":2},"created_at":{"type":"string","description":"Date of creation","example":"1982-05-04T04:57:37-07:00","format":"date-time"},"href":{"type":"string","description":"API href of bottle","example":"Quam quo laudantium qui ducimus animi."},"id":{"type":"integer","description":"ID of bottle","example":6797028995232139732},"name":{"type":"string","example":"9y","minLength":2},"rating":{"type":"integer","description":"Rating of bottle between 1 and 5","example":4,"minimum":1,"maximum":5},"region":{"type":"string","example":"Iure atque voluptatem."},"review":{"type":"string","example":"w8ab3uy5n8cda3x5e6wmnlwm0stl1fro07jx4p9fte1q76uzibxa4rbhhn1xchwg3d","minLength":3,"maxLength":300},"sweetness":{"type":"integer","example":2,"minimum":1,"maximum":5},"updated_at":{"type":"string","description":"Date of last update","example":"2014-10-24T19:33:10-07:00","format":"date-time"},"varietal":{"type":"string","example":"k87v","minLength":4},"vineyard":{"type":"string","example":"7x","minLength":2},"vintage":{"type":"integer","example":1950,"minimum":1900,"maximum":2020}},"description":"A bottle of wine","example":{"account":{"created_at":"Eveniet et tempora.","created_by":"Enim eligendi dolorum libero qui blanditiis et.","href":"Iste dolorem officiis aut magnam commodi.","id":8187062891546950457,"name":"Deserunt cupiditate eveniet repellat."},"color":"Velit eos et.","country":"Odit aperiam voluptatem aut.","created_at":"Vel molestiae culpa incidunt omnis nobis nobis.","href":"Qui totam.","id":3143930706777744377,"name":"Iure et est fugiat ut.","rating":7032390055311179143,"region":"Doloremque et laborum fugit.","review":"Ducimus ad dolore.","sweetness":6760574007944832960,"updated_at":"Nobis assumenda voluptas voluptas numquam.","varietal":"Aperiam quam.","vineyard":"Aliquid sit et.","vintage":6917700760197896783},"required":["id","href","name","vineyard","varietal","vintage","color"]},"BottleCollection":{"title":"Mediatype identifier: application/vnd.bottle+json; type=collection","type":"array","items":{"example":{"account":{"created_at":"Est eveniet illo perferendis et.","created_by":"Odio dolore atque suscipit ea praesentium.","href":"Quia omnis temporibus ut.","id":9009956180728499539,"name":"Est quia corrupti saepe."},"color":"Facere harum dolores adipisci repellat.","country":"Esse quia ratione.","created_at":"Quae deleniti fugit.","href":"Dolor est consequuntur sed.","id":309407268456379865,"name":"Voluptatem omnis magni.","rating":2562239129571077126,"region":"Praesentium cum quaerat accusamus voluptatem et fugit.","review":"Facere consequatur ut explicabo libero qui.","sweetness":4047691766315666962,"updated_at":"Deleniti et beatae nisi soluta ex.","varietal":"Accusamus ut rerum dicta quo.","vineyard":"Optio aspernatur modi.","vintage":4509047611644244706},"$ref":"#/definitions/Bottle"},"example":[{"account":{"created_at":"Et et iusto consequatur recusandae.","created_by":"Vitae libero quis non soluta.","href":"Tempora nobis quia.","id":3997030484496308368,"name":"Quo fugit."},"color":"Iusto ad.","country":"Consequuntur dolorum.","created_at":"Dolore ipsum eius voluptatem est modi.","href":"Corrupti et et.","id":5772758745460440832,"name":"Sed et nulla.","rating":3671730547057169003,"region":"Aperiam amet eum officiis eligendi.","review":"Facere quaerat dicta corporis.","sweetness":551768801793148532,"updated_at":"Enim eaque repellat quidem laudantium eaque dignissimos.","varietal":"Ea sit aut.","vineyard":"Pariatur aut qui quia deleniti aut consequatur.","vintage":7784753268696412538}]},"CreateAccountPayload":{"title":"CreateAccountPayload","type":"object","properties":{"name":{"type":"string","description":"Name of account"}},"required":["name"]},"CreateBottlePayload":{"title":"CreateBottlePayload","type":"object","properties":{"color":{"type":"string","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","minLength":2},"name":{"type":"string","minLength":2},"region":{"type":"string"},"review":{"type":"string","minLength":3,"maxLength":300},"sweetness":{"type":"integer","minimum":1,"maximum":5},"varietal":{"type":"string","minLength":4},"vineyard":{"type":"string","minLength":2},"vintage":{"type":"integer","minimum":1900,"maximum":2020}},"required":["name","vineyard","varietal","vintage","color"]},"RateBottlePayload":{"title":"RateBottlePayload","type":"object","properties":{"rating":{"type":"integer","description":"Rating of bottle between 1 and 5","minimum":1,"maximum":5}},"required":["rating"]},"UpdateAccountPayload":{"title":"UpdateAccountPayload","type":"object","properties":{"name":{"type":"string","description":"Name of account"}},"required":["name"]},"UpdateBottlePayload":{"title":"UpdateBottlePayload","type":"object","properties":{"color":{"type":"string","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","minLength":2},"name":{"type":"string","minLength":2},"region":{"type":"string"},"review":{"type":"string","minLength":3,"maxLength":300},"sweetness":{"type":"integer","minimum":1,"maximum":5},"varietal":{"type":"string","minLength":4},"vineyard":{"type":"string","minLength":2},"vintage":{"type":"integer","minimum":1900,"maximum":2020}}}},"responses":{"NoContent":{"description":"No Content"},"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}},"externalDocs":{"description":"goa guide","url":"http://goa.design/getting-started.html"}}