{"swagger":"2.0","info":{"title":"The virtual wine cellar","description":"A basic example of a CRUD API implemented with goa","contact":{"name":"goa team","email":"admin@goa.design","url":"http://goa.design"},"license":{"name":"MIT","url":"https://github.com/goadesign/goa/blob/master/LICENSE"},"version":""},"host":"cellar.goa.design","basePath":"/cellar","schemes":["http"],"consumes":["application/json","application/xml","text/xml","application/gob","application/x-gob"],"produces":["application/json","application/xml","text/xml","application/gob","application/x-gob"],"paths":{"/accounts":{"post":{"description":"Create new account","operationId":"account#create","parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateAccountPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"/accounts/[0-9]+"}}}},"schemes":["http"]}},"/accounts/{accountID}":{"get":{"description":"Retrieve account with given id","operationId":"account#show","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"}],"responses":{"200":{"$ref":"#/responses/OK"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"put":{"description":"Change account name","operationId":"account#update","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateAccountPayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"delete":{"operationId":"account#delete","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}},"/accounts/{accountID}/bottles":{"get":{"description":"List all bottles in account optionally filtering by year","operationId":"bottle#list","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"years","in":"query","description":"Filter by years","required":false,"type":"array","items":{"type":"array","items":{"type":"integer"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BottleCollection"}},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"post":{"description":"Record new bottle","operationId":"bottle#create","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateBottlePayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/accounts/[0-9]+/bottles/[0-9]+$"}}}},"schemes":["http"]}},"/accounts/{accountID}/bottles/{bottleID}":{"get":{"description":"Retrieve bottle with given id","operationId":"bottle#show","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"}],"responses":{"200":{"$ref":"#/responses/OK"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"delete":{"operationId":"bottle#delete","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]},"patch":{"operationId":"bottle#update","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateBottlePayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}},"/accounts/{accountID}/bottles/{bottleID}/actions/rate":{"put":{"operationId":"bottle#rate","parameters":[{"name":"accountID","in":"path","description":"Account ID","required":true,"type":"integer"},{"name":"bottleID","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/RateBottlePayload"}}],"responses":{"204":{"$ref":"#/responses/NoContent"},"404":{"$ref":"#/responses/NotFound"}},"schemes":["http"]}}},"definitions":{"Account":{"title":"Mediatype identifier: application/vnd.account+json","type":"object","properties":{"created_at":{"type":"string","description":"Date of creation","example":"2016-02-06T22:20:45-08:00","format":"date-time"},"created_by":{"type":"string","description":"Email of account owner","example":"allison.mcclure@greenbogan.org","format":"email"},"href":{"type":"string","description":"API href of account","example":"Non excepturi tenetur."},"id":{"type":"integer","description":"ID of account","example":6438310644043990317},"name":{"type":"string","description":"Name of account","example":"Tenetur et saepe ratione debitis enim sapiente."}},"description":"A tenant account","example":{"created_at":"Delectus vel earum doloribus.","created_by":"Consequuntur recusandae.","href":"Omnis quae suscipit.","id":5820383160470479564,"name":"Ea architecto magni tempora fugiat."},"required":["id","href","name"]},"Bottle":{"title":"Mediatype identifier: application/vnd.bottle+json","type":"object","properties":{"account":{"description":"Account that owns bottle","example":{"created_at":"Qui aut sunt deleniti et beatae.","created_by":"Soluta ex ab accusamus ut rerum.","href":"Rerum optio aspernatur modi et.","id":5431333536971100431,"name":"Eaque et et iusto consequatur recusandae."},"$ref":"#/definitions/Account"},"color":{"type":"string","example":"sparkling","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","example":"xy","minLength":2},"created_at":{"type":"string","description":"Date of creation","example":"2016-02-06T22:20:45-08:00","format":"date-time"},"href":{"type":"string","description":"API href of bottle","example":"Vitae libero quis non soluta."},"id":{"type":"integer","description":"ID of bottle","example":7686534677266922673},"name":{"type":"string","example":"1k","minLength":2},"rating":{"type":"integer","description":"Rating of bottle between 1 and 5","example":1,"minimum":1,"maximum":5},"region":{"type":"string","example":"Et sunt dolorem culpa ea est modi."},"review":{"type":"string","example":"rbae4vgu6qlytmj6mddvtn78agqdbvyvmp3g0mnq21hwjiny63lg60vr7xk2f4xlegx49y3ulxw0w8ab3uy5n8cda3x5e6wmnlwm0stl1fro07jx4p9fte1q76uzibxa4rbhhn1xchwg3d16b37huno8qhk3newqq4uexf5tieh2w4qbh2bqgk87v7xeyiil017edcftwug8cim5whc93xttormq39elaswhqopvahj6oh0sj8jg","minLength":3,"maxLength":300},"sweetness":{"type":"integer","example":1,"minimum":1,"maximum":5},"updated_at":{"type":"string","description":"Date of last update","example":"2016-02-06T22:20:45-08:00","format":"date-time"},"varietal":{"type":"string","example":"h8o0","minLength":4},"vineyard":{"type":"string","example":"ok","minLength":2},"vintage":{"type":"integer","example":1968,"minimum":1900,"maximum":2020}},"description":"A bottle of wine","example":{"account":{"created_at":"Ea sit aut.","created_by":"Pariatur aut qui quia deleniti aut consequatur.","href":"Dolorem dignissimos consequatur.","id":7784753268696412538,"name":"Enim eaque repellat quidem laudantium eaque dignissimos."},"color":"Dolorum eos dolore ipsum eius voluptatem.","country":"Laudantium corrupti et.","created_at":"Officia quia ea voluptates sequi nam temporibus.","href":"Iusto ad.","id":6123913769121757616,"name":"Officia quaerat.","rating":5462140666772550771,"region":"Odit modi.","review":"Et nulla quod aliquam.","sweetness":551768801793148532,"updated_at":"Nulla mollitia sed itaque iste quibusdam.","varietal":"Facere quaerat dicta corporis.","vineyard":"Amet eum officiis eligendi.","vintage":4911518854919035698},"required":["id","href","name","vineyard","varietal","vintage","color"]},"BottleCollection":{"title":"Mediatype identifier: application/vnd.bottle+json; type=collection","type":"array","items":{"example":{"account":{"created_at":"Odit voluptas facilis sit.","created_by":"Velit numquam dolor esse ullam nisi temporibus.","href":"Aut harum perferendis est.","id":6446395799414927960,"name":"Qui iusto nobis dolores."},"color":"Earum hic aperiam quaerat dolorum et.","country":"A pariatur.","created_at":"Libero accusantium molestiae voluptatibus quo.","href":"Nihil doloremque magnam qui aut sed.","id":6689424075049166663,"name":"Recusandae soluta ut.","rating":1027687661037576099,"region":"Autem adipisci ut laboriosam porro.","review":"Sapiente ducimus et culpa et fugiat.","sweetness":4124522032305112032,"updated_at":"Quibusdam aperiam blanditiis qui id.","varietal":"Rerum dignissimos est non est ipsam.","vineyard":"Quis dolor mollitia est.","vintage":2819627289876796637},"$ref":"#/definitions/Bottle"},"example":[{"account":{"created_at":"Unde distinctio sed voluptatem consequuntur qui.","created_by":"Aut quis.","href":"Quod sit.","id":3706005352077011028,"name":"Voluptatem accusantium."},"color":"Quas consequatur error atque.","country":"Et cupiditate.","created_at":"Hic fuga.","href":"Impedit reiciendis.","id":5891823625758525073,"name":"Modi distinctio fugiat magni sed.","rating":7658267442535008459,"region":"Cupiditate saepe vel quas.","review":"Et modi.","sweetness":5226883106486173628,"updated_at":"Ut labore velit laborum facilis repudiandae.","varietal":"Similique qui aliquam.","vineyard":"Accusamus aliquam mollitia quam inventore et quisquam.","vintage":2540629011330115352},{"account":{"created_at":"Dolorem tenetur.","created_by":"Aut deserunt veritatis non quae atque animi.","href":"Accusamus praesentium tenetur.","id":4402772185725025333,"name":"Aliquid magnam quae."},"color":"Distinctio sit possimus.","country":"Quaerat perspiciatis.","created_at":"A provident rem.","href":"Quia nisi.","id":217630490809963815,"name":"Et dolores.","rating":3059915316730057728,"region":"Rerum expedita.","review":"Totam architecto occaecati.","sweetness":4026565790552038650,"updated_at":"Ducimus non expedita.","varietal":"Facilis non sed quia aut.","vineyard":"Dignissimos sapiente repudiandae omnis.","vintage":8902483809007035399}]},"CreateAccountPayload":{"title":"CreateAccountPayload","type":"object","properties":{"name":{"type":"string","description":"Name of account"}},"required":["name"]},"CreateBottlePayload":{"title":"CreateBottlePayload","type":"object","properties":{"color":{"type":"string","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","minLength":2},"name":{"type":"string","minLength":2},"region":{"type":"string"},"review":{"type":"string","minLength":3,"maxLength":300},"sweetness":{"type":"integer","minimum":1,"maximum":5},"varietal":{"type":"string","minLength":4},"vineyard":{"type":"string","minLength":2},"vintage":{"type":"integer","minimum":1900,"maximum":2020}},"required":["name","vineyard","varietal","vintage","color"]},"RateBottlePayload":{"title":"RateBottlePayload","type":"object","properties":{"rating":{"type":"integer","description":"Rating of bottle between 1 and 5","minimum":1,"maximum":5}},"required":["rating"]},"UpdateAccountPayload":{"title":"UpdateAccountPayload","type":"object","properties":{"name":{"type":"string","description":"Name of account"}},"required":["name"]},"UpdateBottlePayload":{"title":"UpdateBottlePayload","type":"object","properties":{"color":{"type":"string","enum":["red","white","rose","yellow","sparkling"]},"country":{"type":"string","minLength":2},"name":{"type":"string","minLength":2},"region":{"type":"string"},"review":{"type":"string","minLength":3,"maxLength":300},"sweetness":{"type":"integer","minimum":1,"maximum":5},"varietal":{"type":"string","minLength":4},"vineyard":{"type":"string","minLength":2},"vintage":{"type":"integer","minimum":1900,"maximum":2020}}}},"responses":{"NoContent":{"description":"No Content"},"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}},"externalDocs":{"description":"goa guide","url":"http://goa.design/getting-started.html"}}